@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.interface_card{
  @apply w-32 h-32 object-contain flex justify-center items-center rounded-md border-2  hover:shadow-md transition duration-200 ease-in-out hover:shadow-gray-100;
}

.input_style {
  @apply block w-12 p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

@keyframes flow-left {
  from { background-position: 100% center; }
  to { background-position: 0% center; }
}

@keyframes flow-right {
  from { background-position: 0% center; }
  to { background-position: 100% center; }
}

.bg-flow-green-left, .bg-flow-red-left {
  background-size: 200% 100%;
  animation: flow-left 1s linear infinite;
}

.bg-flow-green-right, .bg-flow-red-right {
  background-size: 200% 100%;
  animation: flow-right 1s linear infinite;
}

.bg-flow-green-left {
  background: linear-gradient(to left, green, green, transparent) no-repeat;
}

.bg-flow-green-right {
  background: linear-gradient(to right, green, green, transparent) no-repeat;
}

.bg-flow-red-left {
  background: linear-gradient(to left, red, red, transparent) no-repeat;
}

.bg-flow-red-right {
  background: linear-gradient(to right, red, red, transparent) no-repeat;
}

.cable {
  width: 32px;
  height: 3px;
  margin: 0 10px;
}

